<div class="auth__container">
  <div class="auth__rectangle">
    <div class="auth__rasp-group">
      <div class="auth__pre-rasp">
        <div class="auth__eclipse"></div>
      </div>
      <div class="auth__rasp-title">
        RASP
      </div>
      <div class="auth__image-container">
        <img class="auth__image" src="./assets/img.png">
      </div>
    </div>
  </div>
  <form [formGroup]="loginForm" class="auth__body auth-body">
    <div class="auth-body__header auth-header">
      <p class="auth-header__title">Sign In</p>
      <div class="auth-header__body">
        <span class="auth-header__text" >
          New user to RASP?
        </span>
        <span>
          <a class="navigator" href="#" >Sign up</a>
        </span>
      </div>
    </div>
    <div class="auth-body__logo">
      <div class="auth-body__inputs" id="1">
          <mat-form-field class="auth-body__field" appearance="outline">
            <input type="email" matInput formControlName="emailFormControl" placeholder="Email">
            <mat-error *ngIf="loginForm.get('emailFormControl')?.errors?.['email']">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="loginForm.get('emailFormControl')?.errors?.['required']" >
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="auth-body__field" appearance="outline">
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="passwordFormControl" placeholder="Password">
            <span mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </span>
            <mat-error *ngIf="loginForm.get('passwordFormControl')?.errors?.['required']" >
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        <span class="auth-body__text">
          <a routerLink="#" class="navigator" >
            Forgot your password?
          </a>
        </span>
      </div>
      <div class="auth-body__formbuttons">
        <span mat-button class="auth-body__sign" >Sign In</span>
      </div>
    </div>
  </form>
</div>
